body{
    padding:0px;
    margin:0px;
}
.container{
    max-width:1000px;
    margin:0 auto;
}
.container>header{
    background-image: url('/asg2_Đỗ Ngọc Phú_pd06194/ASM/img/banner.png');
    background-size: 100% 100%;
    height:0px;
    padding-bottom:25%;
}
.container>nav{
    line-height:40px;
    background-color:rgb(64, 61, 243);
    color:rgb(66, 96, 233);
    text-align:center;
    font-variant:small-caps;
}
.container>article{
    min-height:400px;
    width:75%;
    background-color:white;
    float:right;
}
.container>aside1{
    min-height:400px;
    width:25%;
    background-color:rgb(225, 238, 178);
    float:right;
}
.container>aside{
    min-height:0px;
    width:25%;
    background-color:rgb(225, 238, 178);
    float:right;
}
.container>footer{
     border-top:5px double aqua;
     line-height:50px;
     background-color:lightcyan;
     text-align:center;
     font-variant:small-caps;
     clear:both;

}
.container>nav>a{
     color:white;
     text-decoration:none;
     margin:0 10px;
}
iframe[name=page]{
    width: 100%;
    min-height: 400px;
}
.company-info {
    position: absolute;
    left: 300px;
    bottom: 470px;
  }
.company-info{
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    padding-bottom: 20px;
    text-shadow: 0 0 20px yellow;
    border-bottom: 0px orange solid;   
}
.vmenu{
    padding: 0px;
    margin: 5px;
    list-style:none;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
    width: 245px;
}
.vmenu a{
    
    
    background-color: white;
    display: block;
    border-bottom: 1px dotted orange;
    color: rgb(72, 54, 233);
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 8px 5px 8px 50px;
}
.vmenu a:hover{
    
    background-color:  rgb(77, 233, 137);
    border-bottom: 1 pixel dotted white;
    background-color: rgb(65, 240, 118);
    color: white;
    font-weight: bold;
}

.content-1{
    width: 100%;
    height: 100%;
    text-align: center;
}
.content-box{
    width: 180px;
    height: 180px;
    float: left;
    margin: 80px 45px;
}
.content-box img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
table {
    text-align: center;
    width: 20%;
    line-height: 50px;
    border: 2px blue;
}

td:first-child,
td:last-child {
    width: 100px;
}

tr:first-child {
    background-color: rgb(236, 63, 32);
}

tr:nth-child(2d) {
    background-color: green;
}
.menutrai{
    width: 500px;
    height: auto;
    text-align: center;
}
.noidung1{
    font-size: larger;
    text-align: center;
}
.video{
    background-color: aqua;
}
.chantrang{
    border-top:5px double aqua;
     line-height:50px;
     background-color:lightcyan;
     text-align:center;
     font-variant:small-caps;
     clear:both;
}